
#gameBoard1,#gameBoard2 {
    display: grid;
    grid-template-columns: repeat(15, 40px);
    grid-template-rows: repeat(15, 40px);
    gap: 2px;
    margin: 50px;
   
}
.cell {
    background-color: greenyellow;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}
.snkTail {
    background-color: red;
}

.notReady{

    pointer-events: none; /* Désactive les événements de clic */
    opacity: 0.6; /* Change l'opacité pour indiquer qu'il est désactivé */
    cursor: not-allowed;
    
}

.ready{
    pointer-events: all;
    opacity: 1;
    cursor: pointer;
    background-color: green;
}


.snkEnemy {
    background-color: blue;
}


#controlPad {
    display: grid;
    grid-template-areas:
        "up up up"
        "left ok right"
        "down down down";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 150px;
    margin: 50px auto;
}

button:hover {
    background-color: #ddd;
}

#ok {
    z-index: 10; 
    position: absolute;
    height: 50px;
    width: 150px;
    grid-area: ok;
    background-color: #007bff;
    color: white;
}
#ok:hover {
    background-color: #0056b3;
}